<% include ../header %>
<header>
  <h2>Ntalk - Chat</h2>
</header>

<section>
  <pre id="chat"></pre>
  <input type="text" id="msg" placeholder="Mensagem">
  <button onclick="enviar();">Enviar</button>
</section>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('http://localhost:3000');

  socket.on('send-client', function (msg) {
    var chat = document.getElementById('chat');
    chat.innerHTML += msg;
  });

  var enviar = function() {
    var msg = document.getElementById('msg');
    socket.emit('send-server', msg.value);
  };
</script>

<% include ../exit %>
<% include ../footer %>